<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.eclipse.jdt.ui.quickFixProcessors">
        <quickFixProcessor class="hu.kecskesk.custommarker.processor.QuickFixDiamondOperator" id="hu.kecskesk.custommarker.quickFixProcessor1">
            <handledMarkerTypes>
                <markerType
                      id="hu.kecskesk.custommarker.diamondmarker">
                </markerType>
            </handledMarkerTypes>
        </quickFixProcessor>
        <quickFixProcessor class="hu.kecskesk.custommarker.processor.QuickFixStreamForEach" id="hu.kecskesk.custommarker.quickFixProcessor2">
            <handledMarkerTypes>
                <markerType
                      id="hu.kecskesk.custommarker.foreachmarker">
                </markerType>
            </handledMarkerTypes>
        </quickFixProcessor>
        <quickFixProcessor class="hu.kecskesk.custommarker.processor.QuickFixTryResources" id="hu.kecskesk.custommarker.quickFixProcessor3">
            <handledMarkerTypes>
                <markerType
                      id="hu.kecskesk.custommarker.tryresourcemarker">
                </markerType>
            </handledMarkerTypes>
        </quickFixProcessor>
    </extension>
    <extension id="diamondmarker" name="Anonym Diamond Problem" point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.jdt.core.problem" />
        <super type="org.eclipse.core.resources.problemmarker" />
        <super type="org.eclipse.core.resources.textmarker" />
        <persistent value="true" />
    </extension>
    <extension id="foreachmarker" name="For-each Problem" point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.jdt.core.problem" />
        <super type="org.eclipse.core.resources.problemmarker" />
        <super type="org.eclipse.core.resources.textmarker" />
        <persistent value="true" />
    </extension>
    <extension id="tryresourcemarker" name="Try-resource Problem" point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.jdt.core.problem" />
        <super type="org.eclipse.core.resources.problemmarker" />
        <super type="org.eclipse.core.resources.textmarker" />
        <persistent value="true" />
    </extension>
    <extension
          point="org.eclipse.ui.commands">
       <category
             id="hu.kecskesk.custommarker.commands.category"
             name="Refactorings">
       </category>
       <command
             categoryId="hu.kecskesk.custommarker.commands.category"
             id="hu.kecskesk.custommarker.commands.sampleCommand"
             name="Add my markers">
       </command>
    </extension>
    <extension
          point="org.eclipse.ui.handlers">
       <handler
             class="hu.kecskesk.custommarker.handlers.MarkerGenerator"
             commandId="hu.kecskesk.custommarker.commands.sampleCommand">
       </handler>
    </extension>
    <extension
          point="org.eclipse.ui.bindings">
       <key
             commandId="hu.kecskesk.custommarker.commands.sampleCommand"
             contextId="org.eclipse.ui.contexts.window"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="M1+6">
       </key>
    </extension>
    <extension
          point="org.eclipse.ui.menus">
       <menuContribution
             locationURI="menu:org.eclipse.ui.main.menu?after=additions">
          <menu
                id="hu.kecskesk.custommarker.menus.sampleMenu"
                label="Refactorings"
                mnemonic="M">
             <command
                   commandId="hu.kecskesk.custommarker.commands.sampleCommand"
                   id="hu.kecskesk.custommarker.menus.sampleCommand"
                   mnemonic="S">
             </command>
          </menu>
       </menuContribution>
       <menuContribution
             locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
          <toolbar
                id="hu.kecskesk.custommarker.toolbars.sampleToolbar">
             <command
                   commandId="hu.kecskesk.custommarker.commands.sampleCommand"
                   icon="icons/sample.png"
                   id="hu.kecskesk.custommarker.toolbars.sampleCommand"
                   tooltip="Add my markers">
             </command>
          </toolbar>
       </menuContribution>
    </extension>
</plugin>
