<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.eclipse.jdt.ui.quickFixProcessors">
        <quickFixProcessor class="hu.kecskesk.custommarker.processor.QuickFixDiamondOperator" id="hu.kecskesk.custommarker.quickFixProcessor1">
            <handledMarkerTypes>
                <markerType
                      id="hu.kecskesk.custommarker.diamondmarker">
                </markerType>
            </handledMarkerTypes>
        </quickFixProcessor>
        <quickFixProcessor class="hu.kecskesk.custommarker.processor.QuickFixStreamForEach" id="hu.kecskesk.custommarker.quickFixProcessor2">
            <handledMarkerTypes>
                <markerType
                      id="hu.kecskesk.custommarker.foreachmarker">
                </markerType>
            </handledMarkerTypes>
        </quickFixProcessor>
        <quickFixProcessor class="hu.kecskesk.custommarker.processor.QuickFixTryResources" id="hu.kecskesk.custommarker.quickFixProcessor3">
            <handledMarkerTypes>
                <markerType
                      id="hu.kecskesk.custommarker.tryresourcemarker">
                </markerType>
            </handledMarkerTypes>
        </quickFixProcessor>
        <quickFixProcessor class="hu.kecskesk.custommarker.processor.QuickFixNullPointers" id="hu.kecskesk.custommarker.quickFixProcessor4">
            <handledMarkerTypes>
                <markerType
                      id="hu.kecskesk.custommarker.optionalmarker">
                </markerType>
            </handledMarkerTypes>
        </quickFixProcessor>
        <quickFixProcessor class="hu.kecskesk.custommarker.processor.QuickFixImmutables" id="hu.kecskesk.custommarker.quickFixProcessor5">
            <handledMarkerTypes>
                <markerType id="hu.kecskesk.custommarker.immutablelist"></markerType>
                <markerType id="hu.kecskesk.custommarker.immutableset"></markerType>
                <markerType id="hu.kecskesk.custommarker.immutablemap"></markerType>
            </handledMarkerTypes>
        </quickFixProcessor>
    </extension>
    <extension id="diamondmarker" name="Anonym Diamond Problem" point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.jdt.core.problem" />
        <super type="org.eclipse.core.resources.problemmarker" />
        <super type="org.eclipse.core.resources.textmarker" />
        <persistent value="true" />
    </extension>
    <extension id="foreachmarker" name="For-each Problem" point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.jdt.core.problem" />
        <super type="org.eclipse.core.resources.problemmarker" />
        <super type="org.eclipse.core.resources.textmarker" />
        <persistent value="true" />
    </extension>
    <extension id="tryresourcemarker" name="Try-resource Problem" point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.jdt.core.problem" />
        <super type="org.eclipse.core.resources.problemmarker" />
        <super type="org.eclipse.core.resources.textmarker" />
        <persistent value="true" />
    </extension>
    <extension id="optionalmarker" name="Null pointer Problem" point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.jdt.core.problem" />
        <super type="org.eclipse.core.resources.problemmarker" />
        <super type="org.eclipse.core.resources.textmarker" />
        <persistent value="true" />
    </extension>
    <extension id="immutablelist" name="Immutable list Problem" point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.jdt.core.problem" />
        <super type="org.eclipse.core.resources.problemmarker" />
        <super type="org.eclipse.core.resources.textmarker" />
        <persistent value="true" />
    </extension>
    <extension id="immutableset" name="Immutable set Problem" point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.jdt.core.problem" />
        <super type="org.eclipse.core.resources.problemmarker" />
        <super type="org.eclipse.core.resources.textmarker" />
        <persistent value="true" />
    </extension>
    <extension id="immutablemap" name="Immutable map Problem" point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.jdt.core.problem" />
        <super type="org.eclipse.core.resources.problemmarker" />
        <super type="org.eclipse.core.resources.textmarker" />
        <persistent value="true" />
    </extension>
    <extension
          point="org.eclipse.ui.commands">
       <category
             id="hu.kecskesk.custommarker.commands.category"
             name="Refactorings">
       </category>
       <command
             categoryId="hu.kecskesk.custommarker.commands.category"
             id="hu.kecskesk.custommarker.commands.addMarkerCommand"
             name="Add my markers">
       </command>
       <command
		      defaultHandler="hu.kecskesk.custommarker.handlers.RadioHandler"
		      id="hu.kecskesk.custommarker.command.radioCommand"
		      name="Radio Plugin Switch">
		   <commandParameter
		         id="org.eclipse.ui.commands.radioStateParameter"
		         name="Radio Plugin Name"
		         optional="false">
		   </commandParameter>
		   <state
		         class="org.eclipse.ui.handlers.RadioState:Immutable"
		         id="org.eclipse.ui.commands.radioState">
		   </state>
		</command>
    </extension>
    <extension
          point="org.eclipse.ui.handlers">
       <handler
             class="hu.kecskesk.custommarker.handlers.MarkerGenerator"
             commandId="hu.kecskesk.custommarker.commands.addMarkerCommand">
       </handler>
    </extension>
    <extension
          point="org.eclipse.ui.menus">
       <menuContribution
             locationURI="menu:org.eclipse.ui.main.menu?after=additions">
          <menu
                id="hu.kecskesk.custommarker.menus.refactoringMenu"
                label="Refactorings"
                mnemonic="M">
             <command
                   commandId="hu.kecskesk.custommarker.commands.addMarkerCommand"
                   id="hu.kecskesk.custommarker.menus.addMarkerCommand"
                   mnemonic="S">
             </command>
		    <separator
		            name="hu.kecskesk.custommarker.menu.separator1"
		            visible="true">
		    </separator>
		    <command
		            commandId="hu.kecskesk.custommarker.command.radioCommand"
		            id="hu.kecskesk.custommarker.menu.radio1"
		            label="Immutable"
		            style="radio">
		        <parameter
		                name="org.eclipse.ui.commands.radioStateParameter"
		                value="Immutable">
		        </parameter>
		    </command>
		    <command
		            commandId="hu.kecskesk.custommarker.command.radioCommand"
		            id="hu.kecskesk.custommarker.menu.radio2"
		            label="Optional"
		            style="radio">
		        <parameter
		            name="org.eclipse.ui.commands.radioStateParameter"
		            value="Optional">
		        </parameter>
		    </command>
		    <command
		            commandId="hu.kecskesk.custommarker.command.radioCommand"
		            id="hu.kecskesk.custommarker.menu.radio3"
		            label="Diamond Operator"
		            style="radio">
		        <parameter
		                name="org.eclipse.ui.commands.radioStateParameter"
		                value="Diamond Operator">
		        </parameter>
		    </command>
		    <command
		            commandId="hu.kecskesk.custommarker.command.radioCommand"
		            id="hu.kecskesk.custommarker.menu.radio4"
		            label="Try with Resources"
		            style="radio">
		        <parameter
		                name="org.eclipse.ui.commands.radioStateParameter"
		                value="Try with Resources">
		        </parameter>
		    </command>
		    <command
		            commandId="hu.kecskesk.custommarker.command.radioCommand"
		            id="hu.kecskesk.custommarker.menu.radio5"
		            label="For Each"
		            style="radio">
		        <parameter
		                name="org.eclipse.ui.commands.radioStateParameter"
		                value="For Each">
		        </parameter>
		    </command>
          </menu>
       </menuContribution>
    </extension>
</plugin>
